Remaining Problems in the Config Module
=======================================

Introduction
------------

This is stuff that I will fix post-integration.

General Problems
----------------

Rename pipeline_configs to something better because it'll contain more stuff
than just the pipeline.

Multiple Configs Per Plugin Type
--------------------------------

  section {
    ...
    stage ffmpeg
    stage generic "pants"
    stage generic "argh"
    # or
    stage { id generic name pants }
  }

  configure generic "pants" {
      bogoproc 10
  }

  configure generic "argh" {
      bogoproc 20
  }

* modify grammar for stages
  - we actually have enough state in parse_context for the braces version due to
    new/end stage.
* modify grammar for blocks
  - block_key needs to pass both names
* change stage.name to stage.stage_name (string repalce everything; current
  usage only requires this)
* add stage.instance_name defaults to stage_name
* add stage and instance name to the map value
* the name to pairs map must become a set because now we have to compare two
  strings
* syntax pass must error when encountering ambiguously named stages
* syntax pass must error when it encounters two same stages where any one has no
  instance name
  - note: at the same time section name lookups should be moved in semantic_pass
    because it's the same technique
  - note: this validation means double-named lookups only need to be done when
    there is an ambiguity.  It might turn out this is too much work and we
    should always do double-lookups.
* semantic pass must warn when a named configure matches nothing
* semantic pass must change its lookups to use the instance and stage name
